.row-fluid
    .span3
        ul.nav.nav-tabs.nav-stacked
            li
                a(href="#linck1")
                    i.icon-chevron-right
                    span Global styles1
            li
                a(href="#linck2")
                    i.icon-chevron-right
                    span Global styles2
    .span9
        h1 test