script(src="./js/admin_menu.js")
.row-fluid
    .span3
        ul.nav.nav-tabs.nav-stacked.admin-menu
            li#vallere
                a(href="#")
                    i.icon-chevron-right
                    span Вальеры
            li#animal
                a(href="#")
                    i.icon-chevron-right
                    span Животные
            li#event
                a(href="#")
                    i.icon-chevron-right
                    span Новости
            li#hotel
                a(href="#")
                    i.icon-chevron-right
                    span Размещение
        ul.nav.nav-tabs.nav-stacked.admin-menu
            li#message
                a(href="#")
                    i.icon-chevron-right
                    span Найденные животные
            li#friend-request
                a(href="#")
                    i.icon-chevron-right
                    span Заявки на друга
            li#hotel-request
                a(href="#")
                    i.icon-chevron-right
                    span Заявки на передержку
    .span9.admin-content