extends ../templ/head
block Content
    .container
        script(src="./js/diary.js")
        h2.text-center Наши новости
        .row.event-templait
            blockquote
                p.event-text
                small.event-date
