extends ../templ/head
block Content
    mixin hotel-registrate-form
        #form-hotel-registrate.modal.hide.fade
            .modal-header
                button(type="button", data-dismiss="modal", aria-hidden="true").close &times;
                h3 Представтесь, пожалуйста.
            .modal-body
                form.form-horizontal
                    input#id-animal(type="text", style="display: none;")
                    .control-group
                        label(for="authLogin").control-label Фамилия
                        .controls
                            input#first-name(type="text")
                    .control-group
                        label(for="authPass").control-label Имя
                        .controls
                            input#last-name(type="text")
                    .control-group
                        label(for="authPass").control-label Контактный телефон
                        .controls
                            input#contact-phone(type="text")

            .modal-footer
                a(href="#", data-dismiss="modal", aria-hidden="true").btn Закрыть
                a#geristrate-hotel(href="#").btn.btn-primary Отправить
    .container
        script(src="./js/get_hotel_vallere.js")
        +hotel-registrate-form
        h2.text-center Гостинница
        .row
            ul.thumbnails.span12
                li.thumbnail.span12
                    .row-fluid
                        .span6
                            img#vallere-foto(style="height: 400px; width: 100%;", alt="Свободных вальеров нет")
                        .span6
                            div(style="height: 400px; width: 100%;")
                                form.form-horizontal
                                    .control-group
                                        label(for="begin-date").control-label С
                                        .controls
                                            input#begin-date(type="text").dtp
                                    .control-group.big-font
                                        label(for="end-date").control-label По
                                        .controls
                                            input#end-date(type="text").dtp
                                    .control-group
                                        label(for="valliere").control-label Вальер
                                        .controls
                                            select#valliere
                                                option(value="5") 5
                                                option(value="6") 6
                                                option(value="7") 7
                                                option(value="8") 8
                                    .control-group
                                        label(for="#comment").control-label Комментрарий
                                        .controls
                                            textarea#comment(style="height: 70px").span12
                                    .control-group
                                        .controls
                                            button#show-form-registrate(type="button").btn.btn-primary.span10 Забронировать
                        .caption