extends ../templ/head
block Content
    mixin get-friend-form
        #get-friend-form.modal.hide.fade
            script(src="./js/animal_request.js")
            .modal-header
                button(type="button", data-dismiss="modal", aria-hidden="true").close &times;
                h3 Заявка
            .modal-body
                form.form-horizontal
                    .control-group
                        label(for="authLogin").control-label ФИО
                        .controls
                            input#authLogin(type="text")
                    .control-group
                        label(for="authPass").control-label Контактный телефон
                        .controls
                            input#authLogin(type="password")
            .modal-footer
                a(href="#").btn.close Закрыть
                a#animal-request(href="#").btn.btn-primary Отправить
    .container
        +get-friend-form
        .row
            form.form-search.text-center
                input(type="text").search-query.input-xxlarge
                button(type="submit").btn Найти друга
            div.alert
                button(type="button", data-dismiss="alert").close &times;
                strong Warning!
                span  Best check yo self, you're not looking too good.
        .row
            script(src="./js/animals_in_vallere.js")
            ul.thumbnails
                li(style="display: ").span4.animal
                    div.thumbnail
                        img(src="img/index.png")
                        .caption
                            .row-fluid
                                h3.span6.animal-name
                                    small.animal-type
                                h3.span6
                                    a(href="#get-friend-form", data-toggle="modal").btn.btn-primary.span12
                                        span Взять друга
                            p.animal-info