extends ../templ/head
block Content
    //- var pets=[{name: "Spike", type: "dog", info: "Милашка"},{name: "Spiker", type: "dog", info: "Озарник"},{name: "Speeke", type: "dog", info: "Попрыгун"},{name: "Spark", type: "dog", info: "Слюнявчик"},{name: "Spark", type: "dog", info: "Слюнявчик"},{name: "Spark", type: "dog", info: "Слюнявчик"},{name: "Spark", type: "dog", info: "Слюнявчик"},{name: "Spark", type: "dog", info: "Слюнявчик"},{name: "Spark", type: "dog", info: "Слюнявчик"}]
    .container
        .row
            form.form-search.text-center
                input(type="text").search-query.input-xxlarge
                button(type="submit").btn Найти друга
            div.alert
                button(type="button", data-dismiss="alert").close &times;
                strong Warning!
                span  Best check yo self, you're not looking too good.
        .row
            script(src="./js/animals_in_vallere.js")
            ul.thumbnails
                li(style="display: ").span4.animal
                    div.thumbnail
                        img(src="img/index.png")
                        .caption
                            .row-fluid
                                h3.span6.animal-name
                                    small.animal-type
                                h3.span6
                                    button(type="button").btn.btn-primary.span12 Взять друга
                            p.animal-info