script(src="./js/admin_buttons.js")
.row-fluid.text-right
    form.form-inline
        .control-group
            button#admin-add(action="add").btn.btn-primary
                i.icon-plus.icon-white
                span  Добавить
            button#admin-edit(action="edit", disabled="true").btn
                i.icon-edit
                span  Изменить
            //button#admin-edit.btn Изменить
            button#admin-delete(disabled="true").btn.btn-danger Удалить
block admin-info