.row-fluid
    h3 Сообщения о бездомных животных
    table.table.table-striped.table-hover
        thead
            tr
                th #
                th Широта
                th Долгота
                th Фамилия
                th Имя
                th Телефон
                th Дата
                th Комментарий
                th Фото
        tbody